/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400|Oswald:400,600");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select, textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img, embed, object, audio, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0;
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  line-height: 1em;
  margin-bottom: 0.3em; }

h1 {
  font-size: 5.94069rem; }

h2 {
  font-size: 4.56976rem; }

h3 {
  font-size: 3.5152rem; }

h4 {
  font-size: 2.704rem; }

h5 {
  font-size: 2.08rem; }

h6 {
  font-size: 1.6rem; }

html {
  font-size: 81.25%; }
  @media only screen and (min-width: 768px) {
    html {
      font-size: 62.5%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.45;
  background-color: #f9f9f9; }

header {
  background-color: #0B3954;
  padding: 3rem 4rem;
  margin-bottom: 2rem; }
  header h1 {
    color: #f9f9f9;
    line-height: 2.2rem;
    margin: 0px;
    text-transform: uppercase;
    font-size: 2.2rem; }

#form-registration {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }
  @media only screen and (min-width: 768px) {
    #form-registration {
      padding-left: 0rem;
      padding-right: 0rem;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  #form-registration h2 {
    font-size: 3rem; }

#contact-info {
  margin-bottom: 2rem; }
  @media only screen and (min-width: 768px) {
    #contact-info {
      margin-bottom: 0rem;
      -ms-flex-order: 1;
          order: 1;
      -ms-flex-preferred-size: 35%;
          flex-basis: 35%; } }
  #contact-info .info {
    background-color: #087E8B;
    color: #f9f9f9;
    padding: 2rem; }
    #contact-info .info p {
      line-height: 1.4em;
      margin-bottom: 1rem; }
    #contact-info .info li {
      text-indent: 3rem;
      background-position: left center;
      background-repeat: no-repeat;
      line-height: 2em; }
    #contact-info .info .phone {
      background-position: 0.4rem center;
      background-image: url("../images/phone.svg"); }
    #contact-info .info .email {
      background-image: url("../images/email.svg"); }

@media only screen and (min-width: 768px) {
  #register {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%; } }

#register form {
  background-color: white;
  padding: 4rem 2rem 2rem 2rem; }
  #register form .labelwrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-bottom: 2rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: distribute;
        align-content: space-around; }
    @media only screen and (min-width: 1024px) {
      #register form .labelwrap {
        -ms-flex-direction: row;
            flex-direction: row; } }
    #register form .labelwrap .field {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column; }
      @media only screen and (min-width: 768px) {
        #register form .labelwrap .field {
          -ms-flex-preferred-size: 60%;
              flex-basis: 60%; } }
      #register form .labelwrap .field label {
        color: #115881; }
        #register form .labelwrap .field label span {
          color: #1d95db;
          font-size: 0.9em;
          font-style: italic;
          font-weight: lighter; }
          #register form .labelwrap .field label span:before {
            content: "*"; }
      #register form .labelwrap .field input, #register form .labelwrap .field select {
        padding: 1rem;
        border-radius: 4px;
        border: 1px solid rgba(11, 57, 84, 0.2);
        background-color: rgba(11, 57, 84, 0.1);
        width: 100%; }
      #register form .labelwrap .field select {
        background-image: url(../images/down-chevron.svg);
        background-repeat: no-repeat;
        background-position: 98% center;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none; }
    #register form .labelwrap .message {
      margin-top: 0rem;
      transition: 300ms all ease-out; }
      @media only screen and (min-width: 1024px) {
        #register form .labelwrap .message {
          margin-top: 2rem;
          -ms-flex-preferred-size: 30%;
              flex-basis: 30%; } }
      #register form .labelwrap .message p {
        color: #1776ae;
        font-size: 0.9em;
        font-style: italic;
        font-weight: lighter;
        padding: 1rem;
        border-radius: 1rem;
        border: 1px dashed transparent; }
      #register form .labelwrap .message.alert {
        margin-top: 1rem; }
        #register form .labelwrap .message.alert p {
          border-radius: 1rem;
          border-color: #FF5A5F;
          color: #FF5A5F; }
  #register form button {
    background-color: #087E8B;
    border-style: none;
    color: #f9f9f9;
    padding: 1.4rem 2rem;
    font-size: 2rem;
    width: 100%; }

footer {
  width: 100%;
  position: fixed;
  bottom: 0rem;
  text-align: center;
  background-color: rgba(11, 57, 84, 0.1);
  color: #0B3954;
  font-size: 1rem; }
  footer p {
    padding: 1rem 0; }
