
html{
    font-size: $font-base-line;
}

body{
    font-family: $sitefont;
    font-size: $size;
    line-height: $lineh;
    background-color: $ligth;
}

header{
    background-color: $dark;
    padding: 3rem 4rem;
    margin-bottom: 2rem;

    h1{
        color: $ligth;
        line-height: 1rem;
        margin: 0px;
        text-transform: uppercase;
        font-size: 2.2rem;
    }
}

#form-registration{
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @include mq(mediumAndBigger){
        padding-left: 0rem;
        padding-right: 0rem;
        flex-direction: row;
        justify-content: space-around;
    }
    h2{
        font-size: 3rem;
    }
}

#contact-info{

    margin-bottom: 2rem;

    @include mq(mediumAndBigger){
        margin-bottom: 0rem;
        order: 1;
        flex-basis: 35%;
    }

    .info{
        background-color: $primary;
        color: $ligth;
        padding: 2rem;


        p{
            line-height: 1.4em;
            margin-bottom: 1rem;
        }

        li{
            text-indent: 3rem;
            background-position: left center;
            background-repeat: no-repeat;
            line-height: 2em;
        }

        .phone{
            background-position: 0.4rem center;
            background-image: url('../images/phone.svg');
        }

        .email{
            background-image: url('../images/email.svg');
        }
    }
}

#register{

    @include mq(mediumAndBigger){
        // flex-grow: 2;
        flex-basis: 60%;
    }


    form{
    background-color: lighten($dark, 60);
    padding: 4rem 2rem;

        .labelwrap{
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            justify-content: space-around;
            align-content: space-around;

            @include mq(mediumAndBigger){
                flex-direction: row;
            }

            .field{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

                @include mq(mediumAndBigger){
                    flex-basis: 60%;
                    // background-color: red;
                }

                label{
                    color: lighten($dark, 10);
                    span{
                        color: lighten($dark, 40);
                        font-size: 0.9em;
                        font-style: italic;
                        font-weight: lighter;

                        &:before{
                            content: "*";
                        }
                    }
                }

                input{
                    padding: 1rem;
                    border-radius: 4px;
                    border: 1px solid lighten($dark, 10);
                    background-color: lighten($dark, 55);
                }
            }

            .message{

                margin-top: 0rem;
                transition: 300ms all ease-out;

                @include mq(mediumAndBigger){
                    // background-color: green;
                    margin-top: 2rem;
                    flex-basis: 30%;
                }
                p{
                    color: lighten($dark, 20);
                    font-size: 0.9em;
                    font-style: italic;
                    font-weight: lighter;
                    padding: 1rem;
                    border-radius: 1rem;
                    border: 1px dashed transparent;
                }

                &.alert {

                    margin-top: 1rem;
                    p{
                        border-radius: 1rem;
                        border-color: red;
                        color: red;
                    }

                }

            }



        }

        button{
            background-color: $primary;
            border-style: none;
            color: $ligth;
            padding: 1.4rem 2rem;
            font-size: 2rem;
            width: 100%;
        }
    }
}
