
html{
    font-size: $font-base-line *1.3;

    @include mq(mediumAndBigger){
        font-size: $font-base-line;
    }
}

body{
    font-family: $sitefont;
    font-size: $size;
    line-height: $lineh;
    background-color: $ligth;
}

header{
    background-color: $dark;
    padding: 3rem 4rem;
    margin-bottom: 2rem;

    h1{
        color: $ligth;
        line-height: 2.2rem;
        margin: 0px;
        text-transform: uppercase;
        font-size: 2.2rem;
    }
}

#form-registration{
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @include mq(mediumAndBigger){
        padding-left: 0rem;
        padding-right: 0rem;
        flex-direction: row;
        justify-content: space-around;
    }
    h2{
        font-size: 3rem;
    }
}

#contact-info{

    margin-bottom: 2rem;

    @include mq(mediumAndBigger){
        margin-bottom: 0rem;
        order: 1;
        flex-basis: 35%;
    }

    .info{
        background-color: $primary;
        color: $ligth;
        padding: 2rem;


        p{
            line-height: 1.4em;
            margin-bottom: 1rem;
        }

        li{
            text-indent: 3rem;
            background-position: left center;
            background-repeat: no-repeat;
            line-height: 2em;
        }

        .phone{
            background-position: 0.4rem center;
            background-image: url('../images/phone.svg');
        }

        .email{
            background-image: url('../images/email.svg');
        }
    }
}

#register{

    @include mq(mediumAndBigger){
        // flex-grow: 2;
        flex-basis: 60%;
    }


    form{
    background-color: lighten($dark, 85);
    padding: 4rem 2rem 2rem 2rem;

        .labelwrap{
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            justify-content: space-around;
            align-content: space-around;

            @include mq(mediumIntermedium){
                flex-direction: row;
            }

            .field{
                display: flex;
                flex-direction: column;
                // flex-wrap: wrap;

                @include mq(mediumAndBigger){
                    flex-basis: 60%;
                }

                label{
                    color: lighten($dark, 10);
                    span{
                        color: lighten($dark, 30);
                        font-size: 0.9em;
                        font-style: italic;
                        font-weight: lighter;

                        &:before{
                            content: "*";
                        }
                    }
                }

                input, select{
                    padding: 1rem;
                    border-radius: 4px;
                    border: 1px solid rgba($dark, .2);
                    background-color: rgba($dark, .1);
                    width: 100%;
                }

                select{
                    background-image: url(../images/down-chevron.svg);
                    background-repeat: no-repeat;
                    background-position: 98% center;
                    appearance: none;
                }
            }

            .message{

                margin-top: 0rem;
                transition: 300ms all ease-out;


                @include mq(mediumIntermedium){
                    // background-color: green;
                    margin-top: 2rem;
                    flex-basis: 30%;
                }
                li{
                    color: lighten($dark, 20);
                    font-size: 0.9em;
                    font-style: italic;
                    font-weight: lighter;
                    padding: 1rem;
                    position: relative;
                }

                &.alert {

                    margin-top: 2rem;
                    border-radius: 1rem;

                    li{
                        color: white;
                        background-color: $alert;

                        &:first-child{
                            &:after{
                                content: "";
                                position: absolute;
                                top:0;
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 30px 4rem 0;
                                border-color: transparent $alert transparent transparent;
                                left: -30px;
                            }
                        }


                    }

                }

            }


        }

        button{
            background-color: $primary;
            border-style: none;
            color: $ligth;
            padding: 1.4rem 2rem;
            font-size: 2rem;
            width: 100%;
        }


        #submited{
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            height: 100%;
            padding: 20vh 0px;
            img{
                margin-bottom: 5rem;
            }
        }
    }
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0rem;
    text-align: center;
    background-color: rgba($dark, .1);
    color: $dark;
    font-size: 1rem;
    p{
        padding: 1rem 0;
    }
}
